<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>Lands-Co عن</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="window-content about-window direction-rtl pt-4 d-flex flex-column">
    <div class="app-logo d-flex align-items-center">
        <h5 class="dm-h pt-1 pl-1">Lands</h5>
        <img src="../assets/lands-co.png" alt="" width="60">
    </div>
    <div class="row m-0">
        <div class="col-4">
            <i class="round-icon exit-btn" style="padding-bottom: 2px" onclick="closeAboutWindow()"><img
                    src="../assets/close.png" width="12"
                    height="12" alt=""></i>
        </div>
    </div>
    <hr class="hr-awesome mt-4">
    <div class="flex-grow-1 m-2">
        <h6 class="dm-h fs-16">
            Version: 1.0.0
        </h6>
        <h6 class="dm-h fs-14 mt-2 text-right">

        </h6>
        <h6 class="dm-h fs-14 mt-4 text-right">
            - العقيد / سامح على ( رئيس فرع نظم المعلومات )
        </h6>
        <h6 class="dm-h fs-14 mt-2 text-right">
            - العقيد / شريف فتحى ( رئيس قسم البرمجيات )
        </h6>
        <h6 class="dm-h fs-14 mt-2 text-right">
            - المقدم / إبراهيم سليمان ( رئيس قسم الحاسب الآلى )
        </h6>
    </div>
    <hr class="hr-awesome">
    <h6 class="dm-h m-2 developer-header">Developed By: Ma7MOoOD SHaRaF</h6>
</div>
<script src="../scripts/utils.js"></script>
<script src="../controllers/about.controller.js"></script>
</body>
</html>