<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>أذكار</title>
    <link rel="stylesheet" href="../styles/animate.min.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="window-content detail-window direction-rtl pt-3 d-flex flex-column">
    <div class="row m-0">
        <div class="col-4">
            <i class="round-icon exit-btn" style="padding-bottom: 2px" onclick="closeWindow()"><img
                    src="../assets/close.png" width="12"
                    height="12" alt=""></i>
        </div>
    </div>
    <div class="detail-title d-flex justify-content-center">
        <h5 class="dm-h pt-1 pl-1 btn-triangle active no-drag" id="sabah-btn" onclick="openAzkarSabah()">أذكار الصباح</h5>
        <div class="w-25"></div>
        <h5 class="dm-h pt-1 pl-1 btn-triangle no-drag" id="masaa-btn" onclick="openAzkarMasaa()">أذكار المساء</h5>
    </div>
    <div>
        <hr class="hr-awesome mt-2">
    </div>
    <div class="flex-grow-1 m-1" id="azkar-content">

    </div>
</div>
<script src="../scripts/utils.js"></script>
<script src="../controllers/azkar.controller.js"></script>
</body>
</html>