<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>تنبية</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="window-content notify-window direction-rtl d-flex" id="notify-bg">
    <i style="position: absolute;top: 5px;right: 5px;cursor: pointer" onclick="closeNotifyWindow()"><img
            src="../assets/close-orange.png" width="12"
            height="12" alt=""></i>
    <div class="flex-grow-1" id="notify-body">
        <div class="d-flex flex-grow-1 justify-content-center align-items-center h-100">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>
<script src="../scripts/utils.js"></script>
<script src="../controllers/notify.controller.js"></script>
</body>
</html>